  /* RESET */ 
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* COMMON  */

  ul{
    list-style-type: none;
  }

  body{
    font-family: 'Gill Sans', 'Gill Sans MT'
  }

  /* inputs area  */

  .inputs {
    padding: 40px;
    text-align: center;
}

.inputs input{
    padding: 17px 17px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    width: 400px;
}

.inputs button{
    padding: 17px 17px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    width: 400px;
}

.todos-container{
    text-align: center;
    background-color: rgb(236, 231, 231);
    width: 70%;
    margin: 0 auto;
    padding: 2rem 5rem;
    border-radius: 1rem;
}

.todo{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem; 
    border-bottom: 1px solid black;
    padding: 2rem 0;

}

  .todo span{
    cursor: pointer;
    user-select: none;
  }

  .already-done{
    text-decoration: line-through;
  }

